/***********************************
Header and Navigational Bar
*************************************/
body {
	background: #34495e;
	color:white;
}


a:hover {
	text-decoration: none !important;
	cursor: pointer;
}

.general-form {
	border-radius: 0.5em;
	background: #95a5a6;
	padding-left: 2em;
	padding-right: 2em;
	padding-bottom:1em;
	margin-bottom: 1em;
}

.navigational-bar {
	height: 45px;
	margin:0;
	background: #16a085;
	width: 100%;
}

.navigational-bar .title {
	padding-top: 10px;
	padding-left: 5px;
	height: 45px;
	width: 205px;
	
}

.navigational-bar .title a {
	color: white;
	font-size: 1.5em;
}
.navigational-bar .title:hover {
	background: #1abc9c;
	transition: background 0.5s;
}
.navigational-bar .user-image img {
	height: 40px;
	width: 40px;
	border-radius: 1.8em;
	float:right;
}

.navigational-bar .user-name {
	padding-top: 10px;
	font-size: 1.5em;
	font-weight: 600;
	float:right;
	padding-right:10px;
	height: 45px;
}

.navigational-bar .user-name:hover {
	background: #1abc9c;
	transition: background 0.5s;
}

.navigational-bar .user-name a {
	color: white;
}


/**********************************
Login Page
***********************************/

.login-form{
	border-radius: 0.5em;
	background: #95a5a6;
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 1em;
	padding-bottom:1em;
	margin-bottom: 1em;
}

.top-buffer {
	margin-top: 1em;
}

.bottom-buffer {
	margin-bottom: 1em;
}

/********************************
Radiologist Page
*********************************/
.radiology-form {
	background: #7f8c8d;
	padding-right: 1em;
}

.create-person-form {
	margin-top: 1em;
	border-radius: 1em;
	background: #7f8c8d;
	padding-right: 1em;
	padding-bottom: 1em;
}

.medical-image {
	background: #95a5a6;
	padding-bottom:0.5em;	
}

.input-description {
	margin-bottom: 1.0em;
}

.upload-images-btn {
	background: #2ecc71 !important;
	border-color: #2ecc71 !important;
}

.upload-images-btn:hover {
	background: #27ae60 !important;
	border-color: #27ae60 !important;
}

.delete-images-btn {
	background: #e74c3c;
	border-color: #e74c3c;
}

.delete-images-btn:hover {
	background: #c0392b;
	border-color: #c0392b;
}

#image-upload {
	visibility: hidden;
}

.image-row {
	margin-top: 1em;
}

.image-row button {
	margin-top:2.4em;
}

.image-row img {
	max-width: 100%;
}


.image-holder {
	position: relative;
}

.image-holder .delete-image-caption {
	position: absolute;
	opacity: 0.8;
	background-image: url("../images/delete-image.png");
	background-size: cover;
	top: 0%;
	left: 0%;
	height: 2em;
	width: 2em;
}



.image-holder .delete-image-caption:hover {
	opacity: 1;
	cursor: pointer;
	background-image: url("../images/delete-image-hover.png");
}

/***************
Button Settings
****************/
.large-btn {
	font-size: 2.3em;
	font-weight: 700;
}
@media (max-width: 500px) {
	.large-btn {
		font-size: 1.8em;
	}
}
.full-width-btn {
	width: 100%;
}
.dropdown-btn {
	text-align:left;
}

.dropdown-btn .caret {
	position: absolute;
	right: 10px;
	top: 45%;
}

.green-btn {
	background: #2ecc71 !important;
	border-color: #2ecc71 !important;
}

.green-btn:hover {
	background: #27ae60 !important;
	border-color: #27ae60 !important;
}

.green-btn:focus {
	background: #27ae60 !important;
	border-color: #27ae60 !important;
}

.orange-btn {
	background: #e67e22 !important;
	border-color: #e67e22!important;
}

.orange-btn:hover {
	background: #d35400 !important;
	border-color: #d35400 !important;
}

.orange-btn:focus {
	background: #d35400 !important;
	border-color: #d35400 !important;
}

.purple-btn {
	background: #9b59b6 !important;
	border-color: #9b59b6 !important;
}

.purple-btn:hover {
	background: #8e44ad !important;
	border-color: #8e44ad !important;
}
