/***********************************
Header and Navigational Bar
*************************************/
body {
	background: #34495e;
	color:white;
}


a:hover {
	text-decoration: none !important;
	cursor: pointer;
}

.behind {
	z-index:-999;
}

.general-form {
	border-radius: 0.5em;
	background: #95a5a6;
	padding-left: 2em;
	padding-right: 2em;
	padding-bottom:1em;
	margin-bottom: 1em;
}

.navigational-bar {
	height: 45px;
	margin:0;
	background: #16a085;
}

.navigational-bar .title {
	padding-top: 10px;
	padding-left: 5px;
	height: 45px;
	width: 205px;
	
}

.navigational-bar .title a {
	color: white;
	font-size: 1.5em;
}
.navigational-bar .title:hover {
	background: #1abc9c;
	transition: background 0.5s;
}
.navigational-bar .user-image img {
	height: 35px;
	width: 35px;
	padding-top: 5px;
	float:right;
}

.navigational-bar .user-image img:hover {
	cursor:pointer;
	opacity: 0.8;
}

.navigational-bar .user-name {
	padding-top: 10px;
	font-size: 1.5em;
	font-weight: 600;
	float:right;
	padding-right:10px;
	height: 45px;
}

.navigational-bar .user-name:hover {
	background: #1abc9c !important;
	transition: background 0.5s !important;	
}

.navigational-bar .user-name a {
	color: white;
}


@media (max-width:768px){
	.navigational-bar {
		height: 90px;
		text-align: center;
	}
	

}

@media (max-width: 300px) {
	.navigational-bar .user-image img {
		position: absolute;
		opacity:0;
		z-index:-99;
	}
}

.code-text {
	font-family: monospace;
}

em {
	font-style: normal;
	color: #16a085;
	font-weight: 600;
}
/***************
Form Styles
***************/
.form-control {
	background-position: right;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	box-shadow: none;
}
.input-correct {
	background-image: url(../images/checkmark.png);
}

.input-wrong {
	background-image: url(../images/x.png);
}

.no-feedback{
	background-image: none !important;
}

.delete-image img {
	height: 25px !important;
	width: 25px;
}
.delete-image img:hover {
	cursor:pointer;
}
/************************
Modal
*************************/
.modal-header h4 {
	color:black;
}

/**********************************
Login Page
***********************************/

.login-form{
	border-radius: 0.5em;
	background: #95a5a6;
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 1em;
	padding-bottom:1em;
	margin-bottom: 1em;
}

.top-buffer {
	margin-top: 1em;
}

.top-buffer-large {
	margin-top: 5em;
}

.bottom-buffer {
	margin-bottom: 1em;
}

/********************************
Radiologist Page
*********************************/
.radiology-form {
	background: #7f8c8d;
	padding-right: 1em;
}

.create-person-form {
	margin-top: 1em;
	border-radius: 1em;
	background: #7f8c8d;
	padding-right: 1em;
	padding-bottom: 1em;
}

.medical-image {
	background: #95a5a6;
	padding-bottom:0.5em;	
}

.input-description {
	margin-bottom: 1.0em;
}

.upload-images-btn {
	background: #2ecc71 !important;
	border-color: #2ecc71 !important;
}

.upload-images-btn:hover {
	background: #27ae60 !important;
	border-color: #27ae60 !important;
}

.delete-images-btn {
	background: #e74c3c;
	border-color: #e74c3c;
}

.delete-images-btn:hover {
	background: #c0392b;
	border-color: #c0392b;
}

#image-upload {
	visibility: hidden;
}

.image-row {
	margin-top: 1em;
}

.image-row button {
	margin-top:2.4em;
}

.image-row img {
	max-width: 100%;
}


.image-holder {
	position: relative;
}

.image-holder .delete-image-caption {
	position: absolute;
	opacity: 0.8;
	background-image: url("../images/delete-image.png");
	background-size: cover;
	top: 0%;
	left: 0%;
	height: 2em;
	width: 2em;
}



.image-holder .delete-image-caption:hover {
	opacity: 1;
	cursor: pointer;
	background-image: url("../images/delete-image-hover.png");
}


/**************
Search Tile
****************/
.search-tile {
	background: #2980b9;
	height: 150px;
	width: 300px;
	border-width: 4px;
	border-style: solid;
	border-color: #2980b9;
	position: relative;
	margin-top: 2em;
}

.search-tile:hover {
	cursor: pointer;
	border-color: white;
}

.search-tile .name {
	position: absolute;
	left:36%;
	font-size: 2em;
	font-weight:0;	
}

.search-tile .doctor {
	position: absolute;
	left: 36%;
	top:35%;
	font-size:1.5em;
	font-weight: 0;
}

.search-tile .date .day {
	position: absolute;
	left: 5%;
	top:-10%;
	font-size:5em;
	font-weight: 0;
}

.search-tile .date .month {
	position: absolute;
	left: 7%;
	top:44%;
	font-size:1em;
	font-weight: 0;
}

.search-tile .date .year {
	position: absolute;
	left: 7%;
	top:56%;
	font-size:1em;
	font-weight: 0;
}

.search-tile .diagnosis {
	position: absolute;
	left: 36%;
	top:80%;
	font-size:1em;
	font-weight: 0;
}

/********************
Radiology Record Tile
*********************/

.tile-record {
	background: white;
	padding-left: 0;
}

.tile-record ul{
	padding-left: 0;
	margin-left:0;
}

.tile-record li{
	width: 100%;
	padding-left: 0.5em;
	padding-right: 2em;
	margin-left: 0em;
	list-style-type: none;
	text-align:left;
	font-size:1.1em;
	font-weight:600;
	color: #666666;
	position:relative;
	line-height: 2em;
	border-bottom-style:solid;
	border-bottom-color: #bdc3c7;
	border-bottom-width: 1px;
}

.tile-record li p {
	font-weight: 100;
	display:inline;
}

.tile-record li:hover {
	background: #ecf0f1;
}


/**************************
Create and Edit Persons Form
***************************/

.confirmation-container {
	background: #666666;
	width: 50%;
	z-index: -999;
	position: absolute;
	top: 50%;
	left: 25%;
	opacity: 0;
	transition: opacity 1s;
}

.confirmation-container p {
	text-align: center;
	width: 100%;
	font-size: 2em;
	font-weight: 700;
}

@media (max-width: 800px) {
	.confirmation-container p {
		font-size: 2em;
	}
}

/*************
Select Menu Settings
******************/

select {
	width: 200px;
	height: 40px;
	box-shadow: none;
	border-style:none;
	color: #666666;
	margin-top: 20px;
}

select:focus, select:active {
	border:0;
	outline:0;
}

.data-sum {
	margin-top: 2em;
	font-size: 5em;

}

.data-sum p {
	font-size: 1.5em;
	font-weight: 800;
	color: #e74c3c;
}


/***************
Button Settings
****************/
.large-btn {
	font-size: 2.1em;
	font-weight: 700;
}

.extra-large-btn {
	margin-top: 3em;
	font-size: 3em;
	font-weight: 300;
}

@media (max-width: 500px) {
	.large-btn {
		font-size: 1.8em;
	}
}

.hollow-btn {
	background: none;
	border-style: solid;
	border-color: white;
	transition: background 0.5s, color 0.5s;
	outline:0 !important;
}

.hollow-btn:hover {
	background: white !important;
	color: gray !important;
	border-color: white !important;
	outline:0 !important;
}
.full-width-btn {
	width: 100%;
}
.dropdown-btn {
	text-align:left;
}

.radio-btn:hover {
	color: white !important;
}

.radio-btn {
	box-shadow: none !important;
}

.dropdown-btn .caret {
	position: absolute;
	right: 30px;
	top: 45%;
}

.green-btn {
	background: #2ecc71 !important;
	border-color: #2ecc71 !important;
}

.green-btn:hover {
	background: #27ae60 !important;
	border-color: #27ae60 !important;
}

.green-btn:focus {
	background: #27ae60 !important;
	border-color: #27ae60 !important;
}

.orange-btn {
	background: #e67e22 !important;
	border-color: #e67e22!important;
}

.orange-btn:hover {
	background: #d35400 !important;
	border-color: #d35400 !important;
}

.orange-btn:focus {
	background: #d35400 !important;
	border-color: #d35400 !important;
}

.purple-btn {
	background: #9b59b6 !important;
	border-color: #9b59b6 !important;
}

.purple-btn:hover {
	background: #8e44ad !important;
	border-color: #8e44ad !important;
}

.red-btn {
	background: #e74c3c !important;
	border-color: #e74c3c !important;
}

.red-btn:hover {
	background: #c0392b !important;
	border-color: #c0392b !important;
}

.teal-btn:hover{
	background: #16a085 !important;
	border-color: #16a085 !important;
}
.teal-btn{
	background: #1abc9c !important;
	border-color: #1abc9c !important;
}

.gray-btn {
	background: #7f8c8d !important;
	border-color: #7f8c8d !important;
}
.gray-btn:hover {
	background: #666666 !important;
	border-color: #666666 !important;
}

.circle-btn {
	margin-top: 5px;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	padding-left: 0;
	padding-right: 0;
	padding-top: 13px;
}

.circle-btn:focus, .circle-btn:active{
	border:0 !important;
	outline:0 !important;
}

.circle-btn p {
	font-weight: 700;
	width: 100%
}

/******************
Learn More Section
*******************/

.sidebar {
	position:fixed;
	right: 2%;
	top: 10%;
	height: 500px;
	width: 120px;
	background: #666666;
	z-index: 999;
	opacity: 1;
}

@media (max-width:750px){
	.sidebar {
		opacity: 0;
	}
}

.sidebar-element {
	height: 14.3%;
	width: 100%;
	position:relative;
	transition:background 0.5s;
}

.sidebar-element p {
	position: absolute;
	top:40%;
	width: 100%;
	font-weight: 600;
	text-align: center;
	
}

.sidebar-element:hover {
	background: #16a085;
	cursor: pointer;
}

.sidebar .selected {
	background: #16a085;
}

.learn-more {
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),  url(../images/background.jpg);
	height: 550px !important;
	background-attachment: fixed;
	padding-top:120px !important;
	padding-left: 20%;
	padding-right: 20%;
	font-family:"Trebuchet MS", Helvetica, sans-serif;

}

.learn-more img {
	height: 80px;
}

.learn-more-element {
	margin-top: 0;
	padding-top: 80px;
	padding-bottom: 80px;
	padding-left: 15%;
	padding-right: 15%;
	min-height: 400px;
}

.learn-more-element h1 {
	margin-top: 0em;
	font-size: 3em;
	line-height: 58px;
}

.learn-more-element h2 {
	font-size: 1.5em;
	line-height: 30px;
	font-weight: 100;	
}

.how-to {
	background: white;
	color: black;
}

.how-to h2{
	color: #666666;
}

.learn-more-title {
	display:inline;
	color: #1abc9c;
}

.user-management-how-to {
	background: #bdc3c7;
	color: #666666;
}

.user-management-how-to h1 {
	color: black
}

.report-generating-how-to {
	background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../images/report-background.jpg);
	background-attachment:fixed;
}

.uploading-how-to {
	background: #d35400;
}

.search-how-to {
	background: white;
	color: #666666;
}

.search-how-to h1 {
	color: black;
}

.data-analysis-how-to {
	background: #95a5a6;
}
