body {
	background: #34495e;
	color:white;
}
.navbar {
  border-radius: 0 !important;
}

.navbar-brand {
	color: white !important;
}

.navbar-brand:hover {
	color: #bdc3c7 !important;
}

.navbar-default {
	background: #16a085;
	border-color: #16a085;
}

.radiology-form {
	background: #7f8c8d;
	padding-bottom:0.5em;
}

.medical-image {
	background: #95a5a6;
}

.upload-images-btn {
	background: #2ecc71 !important;
	border-color: #2ecc71 !important;
}

.upload-images-btn:hover {
	background: #27ae60 !important;
	border-color: #27ae60 !important;
}

#image-upload {
	visibility: hidden;
}

